# copy the contents of this file to a file called .env

DEBUG=twatter
NODE_ENV=development
NEXT_PUBLIC_PORT=3000
JWT_SECRET= # generate a cryptographically-secure 16 byte string - REQUIRED
JWT_ENCRYPTION_KEY= # generate a cryptographically-secure 16 byte string - REQUIRED
DEVICE_IDENTIFIER_SECRET= # generate a cryptographically-secure 16 byte string - REQUIRED
NEXT_PUBLIC_DOMAIN=localhost

EMAIL= # email address to send emails from - OPTIONAL
EMAIL_PASSWORD= # password for the email address - OPTIONAL

NOVU_APIKEY= # https://novu.co - create an account and get your API key - OPTIONAL (for the most part)
NEXT_PUBLIC_NOVU_APP_ID= # get your app id from novu.co - OPTIONAL (for the most part)


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/twatter_dev?schema=public"
