.posts {
    width: 100%;

    & > div > div {
        display: flex;
        flex-direction: column;
        gap: var(--chakra-space-1);
    }
}

.followers {
    & > div > div {
        padding: 0 var(--chakra-space-4);
    }
}
